.outer {
    height: 20em;
    width: 34em;
    margin: 5em auto;
    font-family: sans-serif;
    font-size: 1em;
}

h1, h2 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    color: #333333;
    width: 100%;
    margin: 0.5em 0em 0em 0em;
    padding: 0em;
    text-align: right;
}

.timer {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    font-size: 2em;
    width: 100%;
    text-align: center;
    padding: 0.25em;
    margin: 0.75em 0em;
    height: 2em;
}

.timer.stopped {
    color: #FFFFFF;
    background-color: #CC0000;

}

.timer:not(.stopped) {
    color: #FFFFFF;
    background-color: #00AA00;

}

.timer.in-flow {
    border: 0.1em solid #009900;
}

.timer:not(.in-flow) {
    border: 0.1em solid #DD0000;
}

.controls {
    font-size: 1em;
    width: 100%;
    padding: 0em;
    margin: 0em;
    text-align: center;
}

button {
    background-color: #FFFFFF;
    border: 1px solid black;
    font-size: 1em;
    margin: 0.25em;
    display: inline-block;
    padding: 0.25em 0.10em;
    width: 7.5em;
}

button:hover {
    background-color: #F5F5F5;
}

button:active {
    background-color: #CCCCCC;
}

button.stop {
    width: 3em;
    color: #CC0000;
}

button.save {
    width: 2em;
    float: right;
}

a {
    color: #AAA;
}

.history {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
    height: 5em;
}

.history-item {
    border: 0.1px solid #AAA;
    height: 0.5em;
    margin: 0.1em;
}

.history-item.work {
    width: 1.5em;
    background-color: #00AA00;
}

.history-item.short {
    width: 0.3em;
    background-color: #F70;
}

.history-item.long {
    width: 1.8em;
    background-color: #FA0;
}

.history-item.stopped {
    width: 0.5em;
    background-color: #CC0000;
}

.footer {
    color: #AAA;
    margin-top: 1em;
    width: 100%;
    font-size: 0.8em;
    text-align: right;
}

@media (max-width: 700px) {
    #outer {
        width: 95%;
    }
}

